.container
    max-width: 1170px
    margin: auto
@media ( max-width: 1200px )
    .container
        max-width: 1000px
        width: 90%
@media ( max-width: 992px )
    .container
        max-width: 776px
        width: 90%
@media ( max-width: 768px )
    .container
        max-width: 584px
        width: 90%
.button
    +mBold
    font-size: 13px
    color: $text-color
    background-color: $main-color
    padding: 18px 30px
    border-radius: 10px
    border: none
    cursor: pointer
    &:focus
        outline: none
.input
    +mLight
    font-size: 15px
    padding: 26px 60px 26px 26px
    border-radius: 10px
    border: 1px solid #dddddd
    &:focus
        outline: none
        border: 1px solid $main-color